.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -44%);
    border-color: var(--accent-7);
    width: min(72vw, 840px);
    max-width: min(72vw, 840px);
}

.scrollArea {
    height: 86vh;
    min-height: 86vh;
    max-height: 86vh;
}

.cardLayout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-auto-rows: auto;
    gap: var(--space-4);
    height: 100%;
    padding: var(--card-padding);
    justify-content: center;
}

/* Center the children within each column */
.cardLayout > * {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

@media (max-width: 768px) {
    .card {
        width: 100vw;
        max-width: 75vw;
    }
}

@media (max-width: 610px) {
    .card {
        width: 100vw;
        max-width: 86vw;
    }

    .cardLayout {
        grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    }
}
