.tabList {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: var(--space-8);
}

.tabsPages {
    gap: var(--space-9);
}

.tabLeftSpace {
    margin-right: auto;
}

.tabThemeBtn {
    margin-left: auto;
    /*align-self: center;*/
}

.homeTab {
    min-height: 80vh;
}

.settingsTab {
    min-height: 80vh;
}


@media (max-width: 420px) {
    .tabsPages {
        gap: var(--space-7);
    }
}

@media (max-width: 350px) {
    .tabsPages {
        gap: var(--space-3);
    }
}
