/*Override Default Radix Theme Values*/

.rt-TabsTrigger:where([data-state='active']) {
    color: var(--accent-12);
}

.rt-BaseButton {
    cursor: pointer;
}

.radix-themes {
    --cursor-switch: pointer;
}
