/*Override Default Radix Theme Values*/

.rt-TabsTrigger:where([data-state='active']) {
    color: var(--accent-12);
}

.rt-BaseButton {
    cursor: pointer;
}

.radix-themes {
    --cursor-switch: pointer;
    --scaling: 1.1;
}

@media (max-width: 768px) {
    .radix-themes {
        --scaling: 1;
    }
}

@media (max-width: 520px) {
    .radix-themes {
        --scaling: 0.8;
    }
}
